h1 {
  font-size: 75%;
  form: center;
  }
.box {
  bg-color: lightyellow;
  color: black; 
  border: 1px;
  margin: 5px;
  padding: 2px;
  
}
#first {
 bg-color: lightblue ;
 colour: black;
 font-size: 25%;
}
#second {
 bg-color: lightblue ;
 colour: black;
 font-size: 25%;
}
#third {
 bg-color: lightblue ;
 colour: black;
 font-size: 25%;
}
p {
  position: absolute;
  bottom: 100%;
  left: 100%;
  margin: 2px;
  padding: 2px;
}
